footer.bg-primary.text-light.overflow-auto
  .container.my-3
    .col-md-4
      h5 Contact Us:
      p Phone: 03 684 7039
        br
        | Email: admin@mountainview.school.nz
    .col-md-4
    .col-md-4
script(src="../ts/main.ts")