footer.bg-secondary.text-light.overflow-auto.mt-auto
  .container.my-3
    .col-md-4
      h5 Contact Us:
      p 
        a(href="tel:036847039") Phone: 03 684 7039
        br
        a(href="mailto:admin@mountainview.school.nz") Email: admin@mountainview.school.nz
    .col-md-4
    .col-md-4
script(src="../ts/main.ts")