mixin nav-link(page, activePage, pageName)
  a.nav-link(href=page + '.pug' class=page === activePage ? "active" : undefined)= pageName

mixin header(activePage)
  .navbar.navbar-expand-md.navbar-dark.bg-primary.sticky-top
    .container-fluid
      a.navbar-brand(href="index.pug")
        img(src="../../img/MVHS crest.png" alt="MVHS logo" width="40" height="40")
      span.navbar-text.d-none.d-sm-block.d-md-none Empowering students to thrive in our Whanau culture
      .collapse.navbar-collapse#navbarContent
        .navbar-nav
          +nav-link("index", activePage, "Home")
          //- +nav-link("sports", activePage, "Sports")
          //- +nav-link("staff", activePage, "Staff")
      span.navbar-text.d-none.d-md-block Empowering students to thrive in our Whanau culture
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls=".navbarContent" aria-label="Toggle Navigation")
        span.navbar-toggler-icon
      