.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
  .container-fluid
    a.navbar-brand(href="index.html")
      img(src="img/MVHS crest.png" alt="MVHS logo" width="40" height="40")
    span.navbar-text.d-none.d-sm-block.d-md-none Empowering students to thrive in our Whanau culture
    .collapse.navbar-collapse.navbarContent
      .navbar-nav
        a.nav-link(href="index.html") Home
        a.nav-link(href="sports.html") Sports 
        a.nav-link(href="staff.html") Staff 
    span.navbar-text.d-none.d-md-block Empowering students to thrive in our Whanau culture
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target=".navbarContent" aria-controls=".navbarContent" aria-label="Toggle Navigation")
      span.navbar-toggler-icon
      