doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Sports | MVHS", "The page to find out all about our sporting opportunities", "../img/IMG_4048.JPG")
  body 
    include ../includes/header.pug 
    +header("sports")
    include ../includes/footer.pug 