doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Sports | MVHS", "The page to find out all about our sporting opportunities", "../img/IMG_4048.JPG", true, "sports", "Four students smiling with their arms over each others shoulders.")
  body.d-flex.flex-column.min-vh-100
    include ../includes/header.pug 
    +header("sports")
    .container.mt-3
      h1 Sport 
      p At Mountainview we pride ourselves in giving our students as many sporting opportunities as possible.
        br
        | All the major sports are played but we also add such sports as bowls, shooting and archery for those who are looking for something different.
      h2 Sport Registration 
      p Sports are offered at different age levels and this often means there is something for everyone, regardless of age or ability.
        br
        | The school participates in at least two exchanges with other schools which may also include chess, debating and theatre sports.
      h2 The range of sports includes:
      .d-inline-flex.flex-wrap.justify-content-between 
        p.me-2.border-end.border-start.px-2 Archery
        p.me-2.border-end.border-start.px-2 Badminton
        p.me-2.border-end.border-start.px-2 Basketball
        p.me-2.border-end.border-start.px-2 Claybird Target Shooting
        p.me-2.border-end.border-start.px-2 Cricket
        p.me-2.border-end.border-start.px-2 Cycling
        p.me-2.border-end.border-start.px-2 Futsal
        p.me-2.border-end.border-start.px-2 Golf
        p.me-2.border-end.border-start.px-2 Hockey
        p.me-2.border-end.border-start.px-2 Summer Hockey
        p.me-2.border-end.border-start.px-2 Lawn Bowls
        p.me-2.border-end.border-start.px-2 Multisport
        p.me-2.border-end.border-start.px-2 Netball
        p.me-2.border-end.border-start.px-2 Pool/Darts
        p.me-2.border-end.border-start.px-2 Rock climbing
        p.me-2.border-end.border-start.px-2 Rugby
        p.me-2.border-end.border-start.px-2 Smallbore rifle shooting
        p.me-2.border-end.border-start.px-2 Soccer
        p.me-2.border-end.border-start.px-2 Softball
        p.me-2.border-end.border-start.px-2 Tennis
        p.me-2.border-end.border-start.px-2 Touch
        p.me-2.border-end.border-start.px-2 Volleyball
    include ../includes/footer.pug 
    +footer("sports")