mixin gen-table(...information)
  each piece in information 
    tr
      +gen-data(piece)

mixin gen-data(data)
  each part in data
    td= part

doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Staff | MVHS", "The page to find out all about our staff", "../img/IMG_3240.JPG", true, "staff", "Teacher at school event smiling")
  body.d-flex.flex-column.min-vh-100
    include ../includes/header.pug 
    +header("staff")
    .container.mt-3 
      h1 Meet our amazing staff
      p We are blessed to have such an outstanding community of people in our school.
        br 
        | Our staff work everyday to ensure that our students have the best possible experience of education while at Mountainview High School.
        br
        | It is through their collective effort that we are able to provide our students with the opportunity to reach excellence in everything they do.
      table.table.table-borderless
        thead
          th(scope="col") Name 
          th(scope="col") Role 
        tbody 
          +gen-table(['Kenny Diamond', 'Principal'], ['Trevor Barge', 'HoLA Social Sciences, Geography'], ['Sarah Barge', 'Social Studies, Geography'], ['Liana Allan', 'ESOL, Technology, Literacy'], ['Phillip Bell', 'HoLa Technology, Hard Materials Wood'], ['Justine Carson-lles', '(Whānau Leader Hiwi), Science'], ['Sheree Campbell', 'Spanish, Correspondence'], ['Selena Charteris', '(Junior Whānau Leader Hiwi), Mathematics'], ['Christine Crosbie', 'English'], ['Brent Duncan', 'HoLA Arts, Music'], ['Tina Duncan', 'English'], ['Hafid El Alawi', 'Maths'], ['Phil McGregor', '(Whānau Leader Whenua), HoLA PE & Health'], ['Jayne McNaught', 'Science, Agriculture'], ['Don Martin', 'Hard Materials'], ['Tasmine Palmer', 'HoLA English'], ['Liz Peters', 'Deputy Pricipal (Communications & Operations)'], ['Tess Jacob', 'HoLA Food Technology'], ['Gina Knowles', '(Junior Whānau Leader Whenua), English, Literacy'], ['Murray Kuperus', 'Commerce'], ['Margaret Lafferty', 'HoLA Maths, Scholarships'], ['Andrew Lincoln', 'Deputy Principal (Learning design, reporting & assessment)'], ['Caroline Lincoln', 'HoLA Science'], ['Heather Shears', 'History, Literacy'], ['Catherine Smith', '(Whānau Leader Moana)'], ['Kirsten Stevens', 'HoLA Learning Support'], ['Miles Winter', 'Timetables, NZQA, Commerce'], ['Carl Wright', 'Digital Technology'], ['Marc Capstick', 'Assistant Principal'], ['David Campbell', 'Mathematics'], ['James McFarlane', 'Physical Education & Health'], ['David Martin', 'PE, Outdoor Education'], ['Emily McBride', 'Mathematics, Social Studies'], ['James McFarlane', 'PE'], ['Jesse McKenzie', 'Physics, Science'], ['Kayla Miller', 'Art'], ['Hannah Nethercott', 'Science'], ['Emily Talbot', 'Agriculture, Physics'], ['Judy Smith', 'Learning Support'], ['Whaea Iri Wilson', 'Te reo Māori'], ['Joelene Rennick', '(Junior Whānau Leader Moana), HoLa Careers & Pathways, Transition, Driver Education'], ["Vicki O'Brien", 'Arts Co-ordinator'], ['Kallia McCoid', 'Whānau Engagement Co-ordinator'], ['Steve Rainey', 'IT Computer Technician'], ['Jackie Ryder', 'Sports Co-ordinator'], ['Carly Tarrant', 'Office Manager / Attendance Officer'], ['Sue McMillan', 'Office Administrator'], ['Kirsten Hullen', 'Board of Trustees Staff Representative, Office Administrator'], ['Joanne Knight', 'Assistant Librarian'], ['Mitch George', 'Gateway'], ['Brent Coe', 'Site Manager'], ['Julie Buchan', 'Librarian'], ['Heidi Norton', 'Executive Officer'])


    include ../includes/footer.pug 
    +footer("staff")