doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Staff | MVHS", "The page to find out all about our staff", "../img/IMG_3240.JPG", true, "staff", "Teacher at school event smiling")
  body.d-flex.flex-column.min-vh-100
    include ../includes/header.pug 
    +header("staff")
    include ../includes/footer.pug 
    +footer("staff")