@use "_modules/variables" as *;
@use "_modules/mixins" as *;

.carousel-item img {
  object-fit: cover;
  height: calc(100vh - 56px);
  margin: auto;
}

@include gen-carousel-image-center(
  49.9% 39%,
  51% 39.4%,
  48.7% 40%,
  67.1% 30.4%,
  64.9% 51.8%
);

.navbar-brand {
  padding: 0;
}

.carousel-caption {
  backdrop-filter: blur(4px);
}

@include gen-carousel-text-opacities(0.533 0.533 0.533 0.533 0.533);

@media (max-width: 576px) {
  #main-motto {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
  }
  .carousel-item img {
    height: calc(100vh - 96px);
  }
}
