@use '_modules/variables' as *;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.carousel .carousel-item {
  max-height: calc(100vh - 56px);
  height: 100%;
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  object-position: center 46%;
  margin: auto;
  height: calc(100vh - 56px);
}

a.navbar-brand,
a.navbar-brand img {
  padding: 0;
}
